<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card [routerLink]="['/easy/json']">
      <img src="./assets/imgs/json.png" width="200px" height="200px"/>
      <ion-card-content>
        <ion-card-title>json</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card [routerLink]="['/easy/global']">
      <img src="./assets/imgs/global.png" width="200px" height="200px"/>
      <ion-card-content>
        <ion-card-title>global</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card [routerLink]="['/easy/variable']">
      <img src="./assets/imgs/variable.png" width="200px" height="200px"/>
      <ion-card-content>
        <ion-card-title>variable</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <app-footer></app-footer>
</ion-content>