<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      真方便<span>&nbsp;&nbsp;<i>方便程序员开发小工具</i></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card [routerLink]="['/json']">
      <img src="./assets/imgs/madison.jpg" width="200px" height="200px"/>
      <ion-card-content>
        <ion-card-title>json</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card [routerLink]="['/global']">
      <img src="./assets/imgs/madison.jpg" width="200px" height="200px"/>
      <ion-card-content>
        <ion-card-title>global</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-title size="small" class="easy-title-center">
        Copyright © <a href="//www.runoob.com/">菜鸟教程</a> 2020 备案号：<a target="_blank" rel="nofollow"
          href="https://beian.miit.gov.cn/">闽ICP备15012807号-1</a>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>